# Project 2 Preparing Data

A dataset used on this project contrains information about 160 countries with ~40 characteristics such as debt, electricity consumption, internet users an many other characteristics. 

The data analysis will aim to answer the following questions.

### 1st dataset - Country data
 * What is the country with most consuption of electricity?
 * Top 5 countries with the highest GDP
 * What are the top 10 poorest countries?
 
Some of the challenges to ovecome during the data preparion include:
    * Ability to properly transform the data into csv format.
    * Identify missing/null information in the data set.

In [1]:
import pandas as pd

df = pd.read_csv("https://perso.telecom-paristech.fr/eagan/class/igr204/data/factbook.csv", sep=";")
df.columns = df.columns.str.replace('-', '').str.strip().str.replace(' ', '_').str.replace('__', '_').str.replace('&', 'n').str.replace('\(kWh\)', '')

In [2]:
df.head()

,Country,Area(sq_km),Birth_rate(births/1000_population),Current_account_balance,Death_rate(deaths/1000_population),Debt_external,Electricity_consumption,Electricity_production,Exports,GDP,...,Oil_production(bbl/day),Oil_proved_reserves(bbl),Population,Public_debt(%_of_GDP),Railways(km),Reserves_of_foreign_exchange_n_gold,Telephones_main_lines_in_use,Telephones_mobile_cellular,Total_fertility_rate(children_born/woman),Unemployment_rate(%)
0,String,double,double,double,double,double,double,double,double,double,...,double,double,double,double,double,double,double,double,double,double
1,Afghanistan,647500,47.02,NaN,20.75,8000000000,652200000,540000000,446000000,21500000000,...,0,0,29928987,NaN,NaN,NaN,33100,15000,6.75,NaN
2,Akrotiri,123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,28748,15.08,-504000000,5.12,1410000000,6760000000,5680000000,552400000,17460000000,...,2000,185500000,3563112,NaN,447,1206000000,255000,1100000,2.04,14.80
4,Algeria,2381740,17.13,11900000000,4.60,21900000000,23610000000,25760000000,32160000000,212300000000,...,1200000,11870000000,32531853,37.40,3973,43550000000,2199600,1447310,1.92,25.40

### Select wanted columns.

In [3]:
df_n = df[["Country", "Debt_external", "GDP","Reserves_of_foreign_exchange_n_gold", "Telephones_main_lines_in_use", "Telephones_mobile_cellular", "Electricity_consumption", "Electricity_production"]]

In [4]:
df_n.head()

,Country,Debt_external,GDP,Reserves_of_foreign_exchange_n_gold,Telephones_main_lines_in_use,Telephones_mobile_cellular,Electricity_consumption,Electricity_production
0,String,double,double,double,double,double,double,double
1,Afghanistan,8000000000,21500000000,NaN,33100,15000,652200000,540000000
2,Akrotiri,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,1410000000,17460000000,1206000000,255000,1100000,6760000000,5680000000
4,Algeria,21900000000,212300000000,43550000000,2199600,1447310,23610000000,25760000000

### Remove entries that contain NaN values in any column

In [5]:
df_n = df_n.dropna()
df_n = df_n.drop([0])
df_n.head()

,Country,Debt_external,GDP,Reserves_of_foreign_exchange_n_gold,Telephones_main_lines_in_use,Telephones_mobile_cellular,Electricity_consumption,Electricity_production
3,Albania,1410000000,17460000000,1206000000,255000,1100000,6760000000,5680000000
4,Algeria,21900000000,212300000000,43550000000,2199600,1447310,23610000000,25760000000
7,Angola,10450000000,23170000000,800000000,96300,130000,1587000000,1707000000
11,Argentina,157700000000,483500000000,19470000000,8009400,6500000,81650000000,81390000000
12,Armenia,905000000,13650000000,555000000,562600,114400,5797000000,6492000000

### Find the country with the highest electricity consumption
richest country is the one with the minumum onternal debt and highest gold reserve and GDP

In [6]:
df_n[df_n.Electricity_consumption == df_n.Electricity_consumption.max()]

,Country,Debt_external,GDP,Reserves_of_foreign_exchange_n_gold,Telephones_main_lines_in_use,Telephones_mobile_cellular,Electricity_consumption,Electricity_production
184,Oman,4814000000,38090000000,4144000000,233900,464900,9792000000,9896000000

### Top 5 countries with the highest GDP

In [7]:
df_n.sort_values("GDP", ascending = False, inplace = True)
df_n.head()

,Country,Debt_external,GDP,Reserves_of_foreign_exchange_n_gold,Telephones_main_lines_in_use,Telephones_mobile_cellular,Electricity_consumption,Electricity_production
262,Zambia,5353000000,9409000000,345000000,88400,241000,5345000000,8167000000
222,Spain,771100000000,937600000000,19700000000,17567500,37506700,218400000000,229000000000
113,Iceland,3073000000,9373000000,935000000,190700,279100,7692000000,8271000000
134,Korea South,160000000000,925100000000,199100000000,22877000,33591800,293600000000,322500000000
176,New Zealand,47340000000,92510000000,4805000000,1765000,2599000,35710000000,38390000000

### Country with the least number of active mobile phones

In [8]:
df_n[df_n.Telephones_mobile_cellular == df_n.Telephones_mobile_cellular.min()]

,Country,Debt_external,GDP,Reserves_of_foreign_exchange_n_gold,Telephones_main_lines_in_use,Telephones_mobile_cellular,Electricity_consumption,Electricity_production
142,Libya,4069000000,37480000000,24180000000,750000,100000,19430000000,20890000000
89,Gambia The,476000000,2799000000,113100000,38400,100000,83990000,90310000

### Top 10 Poorest Countries.

In [9]:
df_n.sort_values("Debt_external", ascending = False, inplace = True)

In [10]:
df_n["Debt_external"].astype(str).astype(float).nlargest(10)

249    4.710000e+12
250    1.400000e+12
120    9.139000e+11
222    7.711000e+11
44     5.700000e+11
110    4.176000e+11
15     3.087000e+11
195    2.747000e+11
50     2.333000e+11
34     2.198000e+11
Name: Debt_external, dtype: float64

### 2nd Data Set

#### Olympics Data

Clean up column header. Set row 2 as column column header.

In [119]:
df2 = pd.read_csv("https://raw.githubusercontent.com/realpython/python-data-cleaning/master/Datasets/olympics.csv", header=1)
df2.columns = df2.columns.str.replace('!', '').str.strip()
df2.head()

,Unnamed: 0,? Summer,01,02,03,Total,? Winter,01 .1,02 .1,03 .1,Total.1,? Games,01 .2,02 .2,03 .2,Combined total
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [120]:
df2.columns = df2.columns.str.replace('?', '').str.replace('Unnamed: 0', 'Country')

In [121]:
df2.head()

,Country,Summer,01,02,03,Total,Winter,01 .1,02 .1,03 .1,Total.1,Games,01 .2,02 .2,03 .2,Combined total
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

### Country with the most olympic medals during the summer olympics

In [122]:
#Remove totals row
df2.drop(df2.tail(1).index,inplace=True)

In [125]:
df2.sort_values(by='Total', ascending=False)

,Country,Summer,01,02,03,Total,Winter,01 .1,02 .1,03 .1,Total.1,Games,01 .2,02 .2,03 .2,Combined total
135,United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
106,Soviet Union (URS) [URS],9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204
49,Great Britain (GBR) [GBR] [Z],27,236,272,272,780,22,10,4,12,26,49,246,276,284,806
41,France (FRA) [O] [P] [Z],27,202,223,246,671,22,31,31,47,109,49,233,254,293,780
44,Germany (GER) [GER] [Z],15,174,182,217,573,11,78,78,53,209,26,252,260,270,782
64,Italy (ITA) [M] [S],26,198,166,185,549,22,37,34,43,114,48,235,200,228,663
120,Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
56,Hungary (HUN),25,167,144,165,476,22,0,2,4,6,47,167,146,169,482
23,China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
5,Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
46,East Germany (GDR) [GDR],5,153,129,127,409,6,39,36,35,110,11,192,165,162,519
66,Japan (JPN),21,130,126,142,398,20,10,17,18,45,41,140,143,160,443
104,Russia (RUS) [RUS],5,132,121,142,395,6,49,40,35,124,11,181,161,177,519
40,Finland (FIN),24,101,84,117,302,22,42,62,57,161,46,143,146,174,463
103,Romania (ROU),20,88,94,119,301,20,0,0,1,1,40,88,94,120,302
21,Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
99,Poland (POL),20,64,82,125,271,22,6,7,7,20,42,70,89,132,291
88,Netherlands (NED) [Z],25,77,85,104,266,20,37,38,35,110,45,114,123,139,376
70,South Korea (KOR),16,81,82,80,243,17,26,17,10,53,33,107,99,90,296
18,Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
28,Cuba (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
47,West Germany (FRG) [FRG],5,56,67,81,204,6,11,15,13,39,11,67,82,94,243
121,Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
32,Denmark (DEN) [Z],26,43,68,68,179,13,0,1,0,1,39,43,69,68,180
93,Norway (NOR) [Q],24,56,49,43,148,22,118,111,100,329,46,174,160,143,477
31,Czechoslovakia (TCH) [TCH],16,49,49,45,143,16,2,8,15,25,32,51,57,60,168
12,Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
116,Spain (ESP) [Z],22,37,59,35,131,19,1,0,1,2,41,38,59,36,133
45,United Team of Germany (EUA) [EUA],3,28,54,36,118,3,8,6,5,19,6,36,60,41,137
133,Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,Tanzania (TAN) [TAN],12,0,2,0,2,0,0,0,0,0,12,0,2,0,2
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
71,Kuwait (KUW),12,0,0,2,2,0,0,0,0,0,12,0,0,2,2
118,Sudan (SUD),11,0,1,0,1,0,0,0,0,0,11,0,1,0,1
33,Djibouti (DJI) [B],7,0,0,1,1,0,0,0,0,0,7,0,0,1,1
29,Cyprus (CYP),9,0,1,0,1,10,0,0,0,0,19,0,1,0,1
61,Iraq (IRQ),13,0,0,1,1,0,0,0,0,0,13,0,0,1,1
140,Virgin Islands (ISV),11,0,1,0,1,7,0,0,0,0,18,0,1,0,1
109,Senegal (SEN),13,0,1,0,1,5,0,0,0,0,18,0,1,0,1
78,Macedonia (MKD),5,0,0,1,1,5,0,0,0,0,10,0,0,1,1
80,Mauritius (MRI),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
42,Gabon (GAB),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
134,United Arab Emirates (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
9,Bahrain (BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
84,Montenegro (MNE),2,0,1,0,1,2,0,0,0,0,4,0,1,0,1
52,Guatemala (GUA),13,0,1,0,1,1,0,0,0,0,14,0,1,0,1
96,Paraguay (PAR),11,0,1,0,1,1,0,0,0,0,12,0,1,0,1
13,Bermuda (BER),17,0,0,1,1,7,0,0,0,0,24,0,0,1,1
128,Tonga (TGA),8,0,1,0,1,1,0,0,0,0,9,0,1,0,1
127,Togo (TOG),9,0,0,1,1,1,0,0,0,0,10,0,0,1,1
26,Ivory Coast (CIV) [CIV],12,0,1,0,1,0,0,0,0,0,12,0,1,0,1
37,Eritrea (ERI),4,0,0,1,1,0,0,0,0,0,4,0,0,1,1
53,Guyana (GUY) [GUY],16,0,0,1,1,0,0,0,0,0,16,0,0,1,1
15,Botswana (BOT),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
89,Netherlands Antilles (AHO) [AHO] [I],13,0,1,0,1,2,0,0,0,0,15,0,1,0,1
51,Grenada (GRN),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
19,Burundi (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
91,Niger (NIG),11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
10,Barbados (BAR) [BAR],11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
75,Liechtenstein (LIE),16,0,0,0,0,18,2,2,5,9,34,2,2,5,9

United States was the country with the most medals.

### #rd Data Set Application Data
https://bbhosted.cuny.edu/courses/1/SPS01_IS_362_01_1199_1/db/_33932222_1/job_app_status.csv
Display all candidates pending technical interview

In [146]:
df3 = pd.read_csv("job_app_status.csv")
df3.columns= df3.columns.str.replace(' ', '_')
df3.head()

,App_Index,Job_Type,Application_Date,Status,Interview_Scheduled,Resume_check,Background_check,Manager_Interview_Scheduled,Technical_Interview,HR_Interview,Offer_or_Reject_Email,Last_Updated
0,1,Full Time,5/1/2019,Not Hired,6/30/2019,Completed,Required,Completed,Required,Completed,Reject,9/29/2019
1,2,Full Time,5/30/2019,Hired,7/29/2019,Completed,Completed,Completed,Completed,Completed,Offer,10/27/2018
2,3,Full Time,6/16/2019,Hired,8/15/2019,Completed,Completed,Completed,Completed,Completed,Offer,10/27/2018
3,4,Full Time,2/3/2019,Not Hired,4/4/2019,Required,Required,Completed,Required,Required,Reject,9/29/2019
4,5,Full Time,3/9/2019,Hired,5/8/2019,Completed,Completed,Completed,Completed,Completed,Offer,10/27/2018

In [149]:
#df3.loc[df3['Technical Interview'] == "Pending" ]
df3.loc[df3['Status'].isin(['Pending Interviews']) & df3['Technical_Interview'].isin(['Required'])]

,App_Index,Job_Type,Application_Date,Status,Interview_Scheduled,Resume_check,Background_check,Manager_Interview_Scheduled,Technical_Interview,HR_Interview,Offer_or_Reject_Email,Last_Updated
7,8,Consultant,1/24/2019,Pending Interviews,3/25/2019,Completed,Required,Required,Required,Completed,Waiting,9/29/2019
16,17,Consultant,2/3/2019,Pending Interviews,4/4/2019,Completed,Completed,Required,Required,Required,Waiting,9/29/2019
30,31,Consultant,3/9/2019,Pending Interviews,5/8/2019,Completed,Completed,Required,Required,Completed,Waiting,9/29/2019
43,44,Consultant,3/9/2019,Pending Interviews,5/8/2019,Completed,Completed,Required,Required,Completed,Waiting,9/29/2019
77,78,Consultant,5/24/2019,Pending Interviews,7/23/2019,Completed,Required,Required,Required,Required,Waiting,9/29/2019
89,90,Consultant,7/3/2019,Pending Interviews,9/1/2019,Completed,Completed,Required,Required,Required,Waiting,9/29/2019
95,96,Consultant,3/9/2019,Pending Interviews,5/8/2019,Completed,Completed,Required,Required,Required,Waiting,9/29/2019
107,108,Consultant,2/3/2019,Pending Interviews,4/4/2019,Completed,Required,Required,Required,Required,Waiting,9/29/2019
111,112,Consultant,2/24/2019,Pending Interviews,4/25/2019,Completed,Required,Required,Required,Required,Waiting,9/29/2019
114,115,Consultant,4/25/2019,Pending Interviews,6/24/2019,Completed,Completed,Required,Required,Completed,Waiting,9/29/2019
134,135,Consultant,3/9/2019,Pending Interviews,5/8/2019,Completed,Required,Required,Required,Required,Waiting,9/29/2019
168,169,Consultant,5/24/2019,Pending Interviews,7/23/2019,Completed,Required,Required,Required,Required,Waiting,9/29/2019
176,177,Consultant,4/26/2019,Pending Interviews,6/25/2019,Completed,Completed,Required,Required,Required,Waiting,9/29/2019
193,194,Consultant,7/3/2019,Pending Interviews,9/1/2019,Completed,Completed,Required,Required,Completed,Waiting,9/29/2019
203,204,Consultant,2/7/2019,Pending Interviews,4/8/2019,Completed,Required,Required,Required,Required,Waiting,9/29/2019
205,206,Consultant,4/25/2019,Pending Interviews,6/24/2019,Completed,Required,Required,Required,Required,Waiting,9/29/2019
219,220,Consultant,7/3/2019,Pending Interviews,9/1/2019,Completed,Completed,Required,Required,Completed,Waiting,9/29/2019
226,227,Consultant,1/16/2019,Pending Interviews,3/17/2019,Completed,Completed,Required,Required,Required,Waiting,9/29/2019
230,231,Consultant,3/24/2019,Pending Interviews,5/23/2019,Completed,Completed,Required,Required,Completed,Waiting,9/29/2019
234,235,Consultant,5/1/2019,Pending Interviews,6/30/2019,Completed,Completed,Required,Required,Completed,Waiting,9/29/2019
236,237,Consultant,6/16/2019,Pending Interviews,8/15/2019,Completed,Completed,Required,Required,Required,Waiting,9/29/2019
260,261,Consultant,5/1/2019,Pending Interviews,6/30/2019,Completed,Required,Required,Required,Required,Waiting,9/29/2019
274,275,Consultant,5/30/2019,Pending Interviews,7/29/2019,Completed,Required,Required,Required,Required,Waiting,9/29/2019
282,283,Consultant,3/24/2019,Pending Interviews,5/23/2019,Completed,Required,Required,Required,Required,Waiting,9/29/2019
284,285,Consultant,7/3/2019,Pending Interviews,9/1/2019,Completed,Required,Required,Required,Required,Waiting,9/29/2019
311,312,Consultant,5/24/2019,Pending Interviews,7/23/2019,Completed,Required,Required,Required,Required,Waiting,9/29/2019
313,314,Consultant,5/30/2019,Pending Interviews,7/29/2019,Completed,Required,Required,Required,Required,Waiting,9/29/2019
316,317,Consultant,3/9/2019,Pending Interviews,5/8/2019,Completed,Completed,Required,Required,Required,Waiting,9/29/2019
358,359,Consultant,1/24/2019,Pending Interviews,3/25/2019,Completed,Required,Required,Required,Required,Waiting,9/29/2019
364,365,Consultant,5/1/2019,Pending Interviews,6/30/2019,Completed,Required,Required,Required,Required,Waiting,9/29/2019
...,...,...,...,...,...,...,...,...,...,...,...,...
730,731,Temp,6/16/2019,Pending Interviews,8/15/2019,Completed,Completed,Required,Required,Required,Waiting,9/29/2019
733,734,Temp,1/16/2019,Pending Interviews,3/17/2019,Completed,Completed,Required,Required,Required,Waiting,9/29/2019
754,755,Temp,5/1/2019,Pending Interviews,6/30/2019,Completed,Required,Required,Required,Completed,Waiting,9/29/2019
783,784,Temp,2/3/2019,Pending Interviews,4/4/2019,Completed,Completed,Required,Required,Completed,Waiting,9/29/2019
788,789,Temp,5/13/2019,Pending Interviews,7/12/2019,Completed,Required,Required,Required,Completed,Waiting,9/29/2019
803,804,Temp,4/25/2019,Pending Interviews,6/24/2019,Completed,Required,Required,Required,Required,Waiting,9/29/2019
806,807,Temp,5/1/2019,Pending Interviews,6/30/2019,Completed,Required,Required,Required,Required,Waiting,9/29/2019
816,817,Consultant,4/25/2019,Pending Interviews,6/24/2019,Completed,Completed,Required,Required,Required,Waiting,9/29/2019
824,825,Consultant,1/16/2019,Pending Interviews,3/17/2019,Completed,Required,Required,Required,Required,Waiting,9/29/2019
831,832,Consultant,5/24/2019,Pending Interviews,7/23/2019,Completed,Required,Required,Required,Required,Waiting,9/29/2019
850,851,Consultant,1/16/2019,Pending Interviews,3/17/2019,Completed,Required,Required,Required,Required,Waiting,9/29/2019
868,869,Consultant,4/25/2019,Pending Interviews,6/24/2019,Completed,Required,Required,Required,Required,Waiting,9/29/2019
873,874,Consultant,6/16/2019,Pending Interviews,8/15/2019,Completed,Completed,Required,Required,Completed,Waiting,9/29/2019
894,895,Consultant,4/25/2019,Pending Interviews,6/24/2019,Completed,Completed,Required,Required,Required,Waiting,9/29/2019
918,919,Consultant,5/13/2019,Pending Interviews,7/12/2019,Completed,Completed,Required,Required,Completed,Waiting,9/29/2019
928,929,Consultant,1/16/2019,Pending Interviews,3/17/2019,Completed,Required,Required,Required,Completed,Waiting,9/29/2019
931,932,Consultant,5/13/2019,Pending Interviews,7/12/2019,Completed,Required,Required,Required,Required,Waiting,9/29/2019
940,941,Consultant,3/9/2019,Pending Interviews,5/8/2019,Completed,Required,Required,Required,Required,Waiting,9/29/2019
950,951,Consultant,5/30/2019,Pending Interviews,7/29/2019,Completed,Required,Required,Required,Required,Waiting,9/29/2019
952,953,Consultant,2/3/2019,Pending Interviews,4/4/2019,Completed,Required,Required,Required,Completed,Waiting,9/29/2019
957,958,Consultant,5/13/2019,Pending Interviews,7/12/2019,Completed,Completed,Required,Required,Completed,Waiting,9/29/2019
961,962,Consultant,5/24/2019,Pending Interviews,7/23/2019,Completed,Required,Required,Required,Required,Waiting,9/29/2019
963,964,Consultant,5/30/2019,Pending Interviews,7/29/2019,Completed,Required,Required,Required,Required,Waiting,9/29/2019
964,965,Consultant,6/16/2019,Pending Interviews,8/15/2019,Completed,Required,Required,Required,Required,Waiting,9/29/2019
968,969,Consultant,2/20/2019,Pending Interviews,4/21/2019,Completed,Required,Required,Required,Completed,Waiting,9/29/2019
975,976,Consultant,5/1/2019,Pending Interviews,6/30/2019,Completed,Completed,Required,Required,Required,Waiting,9/29/2019
978,979,Consultant,2/3/2019,Pending Interviews,4/4/2019,Completed,Required,Required,Required,Required,Waiting,9/29/2019
985,986,Consultant,4/25/2019,Pending Interviews,6/24/2019,Completed,Completed,Required,Required,Required,Waiting,9/29/2019
988,989,Consultant,5/1/2019,Pending Interviews,6/30/2019,Completed,Required,Required,Required,Required,Waiting,9/29/2019
994,995,Consultant,2/20/2019,Pending Interviews,4/21/2019,Completed,Required,Required,Required,Required,Waiting,9/29/2019

### Find total amount of candidate hired during the month of March 2019

In [155]:
import datetime
datetime.datetime.strptime
df_hired = df3.loc[df3['Status'].isin(['Hired']) & (df3.Application_Date.between('3/1/2019', '3/31/2019'))]

In [156]:
df_hired.sort_values('Application_Date', ascending=False)

,App_Index,Job_Type,Application_Date,Status,Interview_Scheduled,Resume_check,Background_check,Manager_Interview_Scheduled,Technical_Interview,HR_Interview,Offer_or_Reject_Email,Last_Updated
541,542,Full Time,3/3/2019,Hired,5/2/2019,Completed,Completed,Completed,Completed,Completed,Offer,10/27/2018
567,568,Full Time,3/3/2019,Hired,5/2/2019,Completed,Completed,Completed,Completed,Completed,Offer,10/27/2018
906,907,Full Time,3/24/2019,Hired,5/23/2019,Completed,Completed,Completed,Completed,Completed,Offer,9/29/2019
854,855,Full Time,3/24/2019,Hired,5/23/2019,Completed,Completed,Completed,Completed,Completed,Offer,10/27/2018
841,842,Full Time,3/24/2019,Hired,5/23/2019,Completed,Completed,Completed,Completed,Completed,Offer,10/27/2018
815,816,Full Time,3/24/2019,Hired,5/23/2019,Completed,Completed,Completed,Completed,Completed,Offer,9/29/2019
685,686,Full Time,3/24/2019,Hired,5/23/2019,Completed,Completed,Completed,Completed,Completed,Offer,10/27/2018
646,647,Full Time,3/24/2019,Hired,5/23/2019,Completed,Completed,Completed,Completed,Completed,Offer,10/27/2018
9,10,Full Time,3/24/2019,Hired,5/23/2019,Completed,Completed,Completed,Completed,Completed,Offer,10/27/2018
22,23,Full Time,3/24/2019,Hired,5/23/2019,Completed,Completed,Completed,Completed,Completed,Offer,10/27/2018
425,426,Full Time,3/24/2019,Hired,5/23/2019,Completed,Completed,Completed,Completed,Completed,Offer,10/27/2018
321,322,Full Time,3/24/2019,Hired,5/23/2019,Completed,Completed,Completed,Completed,Completed,Offer,10/27/2018
269,270,Full Time,3/24/2019,Hired,5/23/2019,Completed,Completed,Completed,Completed,Completed,Offer,9/29/2019
243,244,Full Time,3/24/2019,Hired,5/23/2019,Completed,Completed,Completed,Completed,Completed,Offer,10/27/2018
61,62,Full Time,3/24/2019,Hired,5/23/2019,Completed,Completed,Completed,Completed,Completed,Offer,10/27/2018
35,36,Full Time,3/24/2019,Hired,5/23/2019,Completed,Completed,Completed,Completed,Completed,Offer,10/27/2018
945,946,Full Time,3/24/2019,Hired,5/23/2019,Completed,Completed,Completed,Completed,Completed,Offer,10/27/2018